.banner {
    padding: 50px 0 20px 0;
    &__title {
        font-size: 2rem;
        text-transform: capitalize;
        color: #000;
        font-weight: 700;
        text-align: center;
        overflow: hidden;
    }
    &__under {
        width: 70px;
        height: 1px;
        margin: 10px auto 40px auto;
        background-color: #ff6377;
    }
    &-left {
        overflow: hidden;
        img {
            height: 300px;
            object-fit: cover;
            position: relative;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.06);
            }
        }
    }
    &-left__text {
        position: absolute;
        top: 50px;
        left: 40px;
    }
    &-left__text-sale {
        color: #292b2c;
    }
    &-left__text-title {
        font-weight: 700;
        font-size: 32px;
    }
    &-left__text-link {
        &::before {
            content: "";
            position: absolute;
            bottom: 3px;
            height: 7px;
            background-color: rgba(255, 50, 77, 0.2);
            width: 36%;
            z-index: 100;
        }
    }
    &-right {
        &:hover {
            img {
                transform: scale(1.06);
            }
        }
        overflow: hidden;
        img {
            transition: all 0.3s ease-in-out;
            position: relative;
        }
    }
}
