.product {
  padding-top: 20px;
  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    color: #000;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
  }
  &__under {
    width: 70px;
    height: 1px;
    margin: 10px auto 40px auto;
    background-color: #ff6377;
  }
  &__select {
    position: relative;
    select {
      border-radius: 999px;
      margin-bottom: 20px;
      font-size: 12px;
      padding: 5px 50px 5px 15px;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::after {
        content: "a";
      }
      &:focus {
        outline: none;
      }
      &::-ms-expand {
        display: none;
      }
    }
    ion-icon {
      position: absolute;
      top: 8px;
      margin-left: -20px;
    }
  }
  &__infor {
    position: relative;
    overflow: hidden;
  }
  &__item {
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    .action__btn-list {
      ion-icon {
        font-size: 20px;
      }
    }
    &:hover {
      .product__item {
        &-price {
          opacity: 0;
          transition: 0.3s;
        }
        &-rate {
          opacity: 0;
        }
        &-overlay {
          &::before {
            opacity: 1;
          }
          .action__btn-list {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
        &-addtocart {
          opacity: 1;
          transform: translate(-50%, -120%);
          transition: 0.5s ease-in-out;
        }
      }
    }
    &-overlay {
      position: relative;
      height: 280px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 20px 20px 0 0;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 1;
      }
      .action__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        z-index: 2;
      }
      .action__btn-list {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 10px;
        background-color: #fff;
        transform: translate(0, 15px);
        opacity: 0;
        &:hover {
          background-color: #ff6377;
          color: #fff;
          transition: 0.3s ease-in-out;
        }
        &:nth-child(1) {
          transition: all 0.2s ease 0s;
        }
        &:nth-child(2) {
          transition: all 0.3s ease 0s;
        }
        &:nth-child(3) {
          transition: all 0.4s ease 0s;
        }
      }
      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
    }
    &-name {
      font-size: 16px;
      font-weight: 600;
      padding-top: 15px;
      text-transform: capitalize;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px 20px;
      margin-top: 15px;
      &:hover {
        color: #ff3650;
        transition: 0.5s;
      }
    }
    &-price {
      padding: 7px 0;
      .curent-price {
        color: #ff3650;
        font-weight: 700;
      }
      .sale-off {
        color: #529d55;
        font-size: 15px;
        font-weight: 400;
        padding-left: 10px;
      }
      strike {
        color: #788095;
      }
    }
    &-rate {
      color: #788095;
      font-size: 13px;
      padding-bottom: 15px;
      .checked {
        color: #f7c352;
      }
      span {
        &:nth-child(5) {
          margin-right: 20px;
        }
      }
    }
    &-addtocart {
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      opacity: 0;
      .btn-radius {
        border-radius: 999px;
      }
      .btn-fill-line {
        background-color: transparent;
        border: 1px solid #333;
        overflow: hidden;
        position: relative;
        color: #fff;
        transition: all 0.8s ease 0s;
        z-index: 1;
        &:hover {
          color: #333;
          &::after {
            width: 0;
          }
          &::before {
            width: 0;
          }
        }
        &::after {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #333;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          width: 50%;
          right: 0;
          left: auto;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #333;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          width: 50%;
        }
      }
      .btn-fill-out {
        background-color: transparent;
        border: 1px solid #ff324d;
        color: #fff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover {
          color: #ff324d;
          &::after {
            width: 0;
          }
          &::before {
            width: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #ff324d;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          width: 51%;
          right: 0;
          left: auto;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #ff324d;
          z-index: -1;
          transition: all 0.3s ease-in-out;
          width: 51%;
        }
      }
      a {
        padding: 15px 45px;
        color: #fff;
        background-color: #ff324d;
        border-radius: 30px;
        border: 1px solid #ff324d;
        &:hover {
          color: #ff324d;
          background-color: #fff;
        }
        i {
          padding-right: 10px;
        }
      }
    }
  }
}
