<div class="bottom_header main_menu_uppercase">
  <div class="container">
    <div class="navbar navbar-expand-lg">
        <a class="navbar-brand logo" href="#">
          <img src="./images/home/logo_1.png">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-expanded="false">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#introduction">Giới Thiệu</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Sản Phẩm</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#project">Dự Án</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tài Liệu NLMT</a>
          </li>
          <li class="nav-item hotline d-flex align-items-center">
            <p>
              HOTLINE: <span class="pl-2"> 0123 345 456 </span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
