<div class="banner" id="introduction">
  <div class="container">
    <div class="banner__title">Giới Thiệu</div>
    <div class="banner__under"></div>
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="banner-left">
          <img src="https://lh3.googleusercontent.com/proxy/0289vKs2e7C22X8SpKsXN0kgHCdwaPl7N9XriXxpy3STl2cgdrWEZ1LeNNbkgHDnKReqVLvU2USne-eHM_dNql4FrerCGALm8qdDtJT0_KRNxvAAeg_zcdqahPk6QyNNOmghGdu3UcfK" alt="">
          <%# <div class="banner-left__text">
            <h6 class="banner-left__text-sale">Super Sale</h6>
            <h3 class="banner-left__text-title"> New Collection</h3><a class="banner-left__text-link" href="">Shop
              Now</a>
          </div> %>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="banner-right d-flex align-items-center">
          <div class="banner-right__text">
            <h6 class="banner-left__text-sale">Quốc Tuấn</h6>
            <h3 class="banner-left__text-title">Về Chúng Tôi</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iusto cumque id officia ipsam minima recusandae ipsum deserunt blanditiis culpa doloribus in consectetur, nihil hic dolorem! Provident cupiditate adipisci magni.</p>
          <%# </div><img src="./images/products/pin_1.jpg" alt=""> %>
        </div>
      </div>
    </div>
  </div>
</div>
