<div class="trending" id="project">
  <div class="container">
    <div class="trending__all">
        <div class="trending__title">Dự Án</div>
        <div class="trending__under"> </div>
        <div class="trending__subtitle">Hộ gia đình</div>
        <div class="my-owl-nav d-flex align-items-center justify-content-between">
            <span class="my-prev-button">
                <ion-icon name="arrow-back-outline" aria-hidden="true"></ion-icon>
            </span>
            <span class="my-next-button">
                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </span>
        </div>
        <div class="trending__slider owl-carousel owl-theme">
            <div class="trending__item">
                <img src="https://image.baodauthau.vn/w1024/Uploaded/2020/qjmfn/2020_02_04/t/03_ocdr.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN ĐỒNG NAI 
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://hado.com.vn/Uploads/images/phat-dien-hong-phong-4.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN BẮC GIANG
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://lh3.googleusercontent.com/proxy/ea88LtTvwOC_VYYSNYjTHdO4H-so1oRki9RBAA3vUez7XLby6pe3aX4733OgCTkCmBErFOnCUHYEnjUngkrwJOFQ42MIApuVgbYK0fxWqW2lO7Z8Oa8" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HƯNG YÊN
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://media.vuphong.vn/2016/06/xem-xet-co-che-khuyen-khich-du-an-dien-mat-troi1466091451.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HẢI DƯƠNG
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://cms.xuancau.com.vn//uploads/images/DJI_0418.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HCM
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://lh3.googleusercontent.com/proxy/Eo4B7gZKdgOJI7NtcUXsVGQESdwPLsLdje8GuAnzA6ho-bJnujEYAsMDxQpfKkCOrzjbnzjpYskCv8Jh7ck0aGdghe_ekCPXBq7CvOuI7n9DKfaYlsdTEyqkBh3pBpSEknvJNTIs5OojLk3V89Es755K3QmUusKTiew_amei27NYTVEcMA" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HẢI PHÒNG
                    </p>
                </div>
            </div>
        </div>
        <div class="trending__subtitle">Doanh nghiệp</div>            
        <div class="company_project owl-carousel owl-theme">
            <div class="trending__item">
                <img src="https://image.baodauthau.vn/w1024/Uploaded/2020/qjmfn/2020_02_04/t/03_ocdr.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN ĐỒNG NAI 
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://hado.com.vn/Uploads/images/phat-dien-hong-phong-4.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN BẮC GIANG
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://lh3.googleusercontent.com/proxy/ea88LtTvwOC_VYYSNYjTHdO4H-so1oRki9RBAA3vUez7XLby6pe3aX4733OgCTkCmBErFOnCUHYEnjUngkrwJOFQ42MIApuVgbYK0fxWqW2lO7Z8Oa8" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HƯNG YÊN
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://media.vuphong.vn/2016/06/xem-xet-co-che-khuyen-khich-du-an-dien-mat-troi1466091451.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HẢI DƯƠNG
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://cms.xuancau.com.vn//uploads/images/DJI_0418.jpg" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HCM
                    </p>
                </div>
            </div>
            <div class="trending__item">
                <img src="https://lh3.googleusercontent.com/proxy/Eo4B7gZKdgOJI7NtcUXsVGQESdwPLsLdje8GuAnzA6ho-bJnujEYAsMDxQpfKkCOrzjbnzjpYskCv8Jh7ck0aGdghe_ekCPXBq7CvOuI7n9DKfaYlsdTEyqkBh3pBpSEknvJNTIs5OojLk3V89Es755K3QmUusKTiew_amei27NYTVEcMA" alt="">
                <div class="project_name">
                    <p>DỰ ÁN NĂNG LƯỢNG TÁI TẠO HẤP DẪN HẢI PHÒNG
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
