<div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="product__item">
        <div class="product__item-overlay">
            <ul class="action__btn">
            <li class="action__btn-list" type="button" data-toggle="modal" data-target="#exampleModal"><i
                class="fa fa-random"></i></li>
            <li class="action__btn-list" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                <ion-icon name="add-circle-outline"></ion-icon>
            </li>
            <li class="action__btn-list"><i class="far fa-heart"></i></li>
            </ul>
            <%= image_tag product.image %>
        </div>
        <div class="product__infor">
            <div class="product__item-name"><%= product.name %></div>
            <div class="product__item-price"> <span class="curent-price"><%= number_with_delimiter(product.price*(100-product.discount)/100, delimiter: ".") %>đ &nbsp;</span>
            <strike><%= number_with_delimiter(product.price, delimiter: ".") %>đ</strike>
            </div>
            <div class="product__item-rate">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            </div>
            <div class="product__item-addtocart">
                <div class="btn btn-fill-out btn-radius"> Liên Hệ: 0988 193 432 </div>
            </div>
        </div>
    </div>
</div>
