
<!-- Modal-->
<div class="modal fade bd-example-modal-md" id="modal-popup" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <button class="close close-popup" type="button" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <div class="popup-text">
        <div class="heading-popup text-center">
          <h4>Subscribe and Get 25% Discount!</h4>
        </div>
        <p class="text-center">Subscribe to the newsletter to receive updates about new products.</p>
      </div>
      <form class="rounded_input" method="#">
        <div class="form-group">
          <input class="form-control" name="email" required="" type="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
          <button class="btn btn-fill-line btn-block text-uppercase btn-radius" title="Subscribe"
            type="submit">Subscribe</button>
        </div>
      </form>
      <div class="chek-form text-center">
        <div class="custome-checkbox">
          <input class="form-check-input" id="exampleCheckbox3" type="checkbox" name="checkbox" value="">
          <label class="form-check-label" for="exampleCheckbox3"><span>Don&apos;t show this popup
              again!</span></label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slider">
  <div class="homeslider owl-carousel owl-theme" id="homeslider">
    <div class="item">
      <div class="slider-image slider-image1">
        <div class="container">
          <div class="row">
            <div class="col-10 col-md-8 col-sm-9 col-lg-6">
              <div class="slider__text d-flex align-items-start flex-column justify-content-center">
                <h6 class="animate__animated animate__slow animate__fadeInDown text-white">NEW TRANDING</h6>
                <h2 class="animate__animated animate__slow animate__fadeInDown text-white">Sofa Collection
                </h2>
                <p class="animate__animated animate__slow animate__fadeInDown text-white">Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                  varius nunc id varius nunc.</p><a
                  class="animate__animated animate__slow animate__fadeInUp btn btn-1 hover-filled-slide-right"><span>Liên Hệ Ngay: 0988 193 432  </span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slider-image slider-image2">
        <div class="container">
          <div class="row">
            <div class="col-10 col-md-8 col-sm-9 col-lg-6">
              <div class="slider__text d-flex align-items-start flex-column justify-content-center">
                <p class="animate__animated animate__slow text-white">Get up to 50% off Today Only!</p>
                <h2 class="animate__animated animate__slow text-white">Wooden Chair Collection</h2><a
                  class="animate__animated animate__slow btn btn-1 hover-filled-slide-right"><span>Liên Hệ Ngay: 0988 193 432  </span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slider-image slider-image3">
        <div class="container">
          <div class="row">
            <div class="col-10 col-md-8 col-sm-9 col-lg-6">
              <div class="slider__text d-flex align-items-start flex-column justify-content-center">
                <p class="animate__animated animate__slow text-white">Taking your Viewing Experience to Next
                  Level</p>
                <h2 class="animate__animated animate__slow text-white">Living Room Collection</h2><a
                  class="animate__animated animate__slow btn btn-1 hover-filled-slide-right"><span>Liên Hệ Ngay: 0988 193 432  </span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
